.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-image-1 {
  width: 162px;
  height: 217px;
  filter: brightness(0.95);
  animation-timing-function: ease;
  margin: 28px auto 0;
}

.u-section-1 .u-text-1 {
  width: 150px;
  margin: 39px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 218px;
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }
}