.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.95);
  width: 162px;
  height: 217px;
  margin: 28px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 168px;
  height: 144px;
  margin: -304px 570px 0 402px;
}

.u-section-1 .u-text-1 {
  width: 150px;
  margin: 188px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -629px;
    margin-right: 470px;
    margin-left: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 189px;
    height: 141px;
    margin-top: -511px;
    margin-right: 360px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 422px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-rotation-parent-1 {
    margin-left: 81px;
    margin-right: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-rotation-parent-1 {
    margin-left: 0;
    margin-right: 170px;
  }
}