.u-block-bd61-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bd61-3 {
  position: absolute;
  left: 0;
}

.u-block-bd61-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Pic1.jpg");
}

.u-section-1-1 .u-sheet-1 {
  min-height: 700px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 332px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 209px;
  }
}

 .u-section-1-2 {
  background-image: url("images/Pic.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 700px;
}

 .u-section-1-3 {
  background-image: url("images/Pic2.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 700px;
}

 .u-section-1-4 {
  background-image: url("images/recommend_01.png");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 700px;
}